 <!-- more posts  -->
    
    <section id="more-posts">
        <div class="container more-posts-container">
            <h3 id="keepGoing-h3" ng-show="inPostDetailsPage == false">Keep Going</h3>
            <h3 id="keepGoing-h3" ng-show="inPostDetailsPage == true">More Stories To Read</h3>
            <div class="row">
                <!-- first col - first post -->
                <div class="col-sm-6 col-xs-6">
                    <h3 class="post-head">Interoid Design Industry Has Been Changed This Year</h3>
                    <div class="div-content">
                        <h6>Posted at 2015, Des 23 by Jimmy Wales</h6>
                        <span class="comment-number">17 Comment</span>
                        <div class="first-col-images">
                            <img class="img img-responsive more-posts-image " src="assets/images/car.jpg" alt="car-image">
                        </div>
                        <p>
                            In the early years of the 20th century, the rapid 
                            development of the southwestern United States was creating
                            a high demand for electricity and water. Simultaneously.
                        </p>
                        <a class="continue-anchor">Continue Reading ... </a>
                    </div>

                <!-- first col - second post  -->

                    <h3 class="post-head">Interoid Design Industry Has Been Changed This Year</h3>
                    <div class="div-content">
                        <h6>Posted at 2015, Des 23 by Jimmy Wales</h6>
                        <span class="comment-number">17 Comment</span>
                        <div class="first-col-images">
                            <img class="img img-responsive more-posts-image nileI" src="assets/images/nile.jpg" alt="nile-image">
                        </div>
                        <p>
                            In the early years of the 20th century, the rapid 
                            development of the southwestern United States was creating
                            a high demand for electricity and water. Simultaneously.
                        </p>
                        <a class="continue-anchor">Continue Reading ... </a>
                    </div>
                </div>

                <!-- sec col - first post -->
                <div class="col-sm-6 col-xs-6 sec-col">
                    <h3 class="post-head">Interoid Design Industry Has Been Changed This Year</h3>
                    <div class="div-content">
                        <h6>Posted at 2015, Des 23 by Jimmy Wales</h6>
                        <span class="comment-number">17 Comment</span>
                        <div >
                            <img class="img img-responsive more-posts-image" src="assets/images/cup.jpg" alt="cup-image">
                        </div>
                        <p>
                            In the early years of the 20th century, the rapid 
                            development of the southwestern United States was creating
                            a high demand for electricity and water. Simultaneously.
                        </p>
                        <a class="continue-anchor">Continue Reading ... </a>
                    </div>

                <!-- sec col - second post  -->

                    <h3 class="post-head">Interoid Design Industry Has Been Changed This Year</h3>
                    <div class="div-content">
                        <h6>Posted at 2015, Des 23 by Jimmy Wales</h6>
                        <span class="comment-number">17 Comments</span>
                        <div>
                            <img class="img img-responsive more-posts-image" src="assets/images/computer.jpg" alt="com-image">
                        </div>
                        <p>
                            In the early years of the 20th century, the rapid 
                            development of the southwestern United States was creating
                            a high demand for electricity and water. Simultaneously.
                        </p>
                        <a class="continue-anchor">Continue Reading ... </a>
                    </div>
                </div>
            
            </div>
            <button id="more-topics-btn">more topics</button>
        </div>
    </section>