<!-- second post  -->
     <section class="details">
        <div class="container">
            <div class="post-head">
                <h2>The building of Hoover Dam belongs to the sagas of the daring</h2>
                <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
            </div>
            <div class="div-content detailed-post">
                <h6>Posted at 2015, Dec 23 by Jimmy Wales</h6>
                <span class="comment-number">17 Comment</span>
                <div>
                    <img class="img img-responsive post-image" src="assets/images/sea.jpg" alt="sea-image">
                </div>
                <p>It's no secret the the digital industry is booming. From exciting startups to 
                    global brands, companies are reacing out ti digital agencies, responding to the 
                    new possibili-ties available. However, the industry is fast becoming overcrowded,
                    heaving with agencies offering similar services - on the surface, at least.
                </p>
                <div id="qoute-div">
                    <img src="assets/images/qoute.png" alt="qoute-mark">
                    <h1>This is a more complex issue than it first appears."</h1><br>
                    <span>Tim Cook</span>

                </div>
                <p>"This is a more complex issue than it first appears," he said. "
                    There are some apps that are linked to some-thing else on the iPhone.
                     If they were to be removed they might cause issues elsewhere on the phone.
                     There are other apps that aren't like that. So over time, I think with the ones 
                     that aren't like that, we'll with the ones that aren't like that, we'll figure out a way
                     for you to remove them]. ... It's not that we want to suck up your real estate; we're not motivated to do that.
                      We want you to be happy. So I recognize that some people want to do this, and it's 
                      something we're looking at."</p>

                      <p>In 1922, the U.S. Reclamation Service settled on Black Canyon as the ideal location for a
                      dam. They had initially chosen Boulder Canyon (unfortunately located on a seismic fault line),
                       which gave the project its first name, Boulder Dam.</p>
                       <p>Congress authorized the project in 1928; construction began in 1931, under the direc-tion of
                        a consortium called Six Companies, Incorporated.</p>
                        <p>The Great Depression was in full swing, and tens 
                        of thousands of hopeful workers flocked to the dam site with their families, camping out in 
                        temperatures that reached 120 degrees Fahrenheit. At its peak, the project employed 5,251 people.</p>
                 
                 <!-- Tags  -->
                 <ul class="tags-ul">
                     <li>Tech</li>
                     <li>Modern</li>
                     <li>Wordpress</li>
                 </ul>
            </div>
        </div>
    </section> 


    <!-- mmmmmmmmmmmmmmmmmmmmmmmmmmmm  -->

    <!-- Next | Prev Posts  -->

    <div class="next-prev-posts">
        <div class="container next-prev-con">
            <div class="row">
                <div class="col-sm-5 col-sm-12 prev-post">
                    <div class="">
                        <h5 class="prev-h5">previous post</h5>
                        <div class="first-col-images">
                            <img class="img img-responsive more-posts-image carI" src="assets/images/car.jpg" alt="car-image">
                        </div>
                        <h5 class="post-head">Interoid Design Industry Has Been Changed This Year</h5>
                        <h6>Posted at 2015, Des 23 by Jimmy Wales</h6>
                        <span class="comment-number">17 Comment</span>
                        <p>
                            In the early years of the 20th century, the rapid 
                            development of the southwestern United States was creating...
                        
                        </p>
                        <!-- <span class="continue-span">Continue Reading ... </span> -->
                    </div>
                </div>
                <div class="col-sm-5 col-sm-12 next-post">
                    <div class="">
                        <h5 class="next-h5">next post</h5>
                        <div>
                            <img class="img img-responsive more-posts-image computerI" src="assets/images/computer.jpg" alt="com-image">
                        </div>
                        <h5 class="post-head">Interoid Design Industry Has Been Changed This Year</h5>
                        <h6>Posted at 2015, Des 23 by Jimmy Wales</h6>
                        <span class="comment-number">17 Comments</span>
                        <p>
                            In the early years of the 20th century, the rapid 
                            development of the southwestern United States was creating...
            
                        </p>
                        <!-- <span class="continue-span">Continue Reading ... </span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>


     <!-- more posts  -->
    
    <section id="more-posts">
        <div class="container more-posts-container">
            <!-- <h3 id="keepGoing-h3" ng-show="inPostDetailsPage == false">Keep Going</h3> -->
            <h3 id="keepGoing-h3">More Stories To Read</h3>
            <div class="row posts-row">
                <!-- first col - first post -->
                <div class="col-sm-6 col-xs-12">
                    <h3 class="post-head">Interoid Design Industry Has Been Changed This Year</h3>
                    <div class="div-content">
                        <h6>Posted at 2015, Des 23 by Jimmy Wales</h6>
                        <span class="comment-number">17 Comment</span>
                        <div class="first-col-images">
                            <img class="img img-responsive more-posts-image carI" src="assets/images/car.jpg" alt="car-image">
                        </div>
                        <p>
                            In the early years of the 20th century, the rapid 
                            development of the southwestern United States was creating
                            a high demand for electricity and water. Simultaneously.
                        </p>
                        <a class="continue-anchor">Continue Reading ... </a>
                    </div>

                <!-- first col - second post  -->

                    <h3 class="post-head">Interoid Design Industry Has Been Changed This Year</h3>
                    <div class="div-content">
                        <h6>Posted at 2015, Des 23 by Jimmy Wales</h6>
                        <span class="comment-number">17 Comment</span>
                        <div class="first-col-images">
                            <img class="img img-responsive more-posts-image nileI" src="assets/images/nile.jpg" alt="nile-image">
                        </div>
                        <p>
                            In the early years of the 20th century, the rapid 
                            development of the southwestern United States was creating
                            a high demand for electricity and water. Simultaneously.
                        </p>
                        <a class="continue-anchor">Continue Reading ... </a>
                    </div>
                </div>

                <!-- sec col - first post -->
                <div class="col-sm-6 col-xs-12 sec-col">
                    <h3 class="post-head">Interoid Design Industry Has Been Changed This Year</h3>
                    <div class="div-content">
                        <h6>Posted at 2015, Des 23 by Jimmy Wales</h6>
                        <span class="comment-number">17 Comment</span>
                        <div >
                            <img class="img img-responsive more-posts-image cup-image" src="assets/images/cup.jpg" alt="cup-image">
                        </div>
                        <p>
                            In the early years of the 20th century, the rapid 
                            development of the southwestern United States was creating
                            a high demand for electricity and water. Simultaneously.
                        </p>
                        <a class="continue-anchor">Continue Reading ... </a>
                    </div>

                <!-- sec col - second post  -->

                    <h3 class="post-head">Interoid Design Industry Has Been Changed This Year</h3>
                    <div class="div-content">
                        <h6>Posted at 2015, Des 23 by Jimmy Wales</h6>
                        <span class="comment-number">17 Comments</span>
                        <div>
                            <img class="img img-responsive more-posts-image com-image" src="assets/images/computer.jpg" alt="com-image">
                        </div>
                        <p>
                            In the early years of the 20th century, the rapid 
                            development of the southwestern United States was creating
                            a high demand for electricity and water. Simultaneously.
                        </p>
                        <a class="continue-anchor">Continue Reading ... </a>
                    </div>
                </div>
            
            </div>
            <button id="more-topics-btn">more topics</button>
        </div>
    </section>


    <!--Start footer1 -->
    <footer>
        <div class="container footer-container">
            <p>Thanks for reading my blog<br>regards,</p><span>Jimmy Wales</span>
        </div>
    </footer>
    