<div class="container">

    <!-- Registration Form -->
    <div class="col-xs-12 col-md-6 col-md-offset-3 form-div">
        <form ng-submit="register.regUser(regData);" class="login-reg-forms" name="registerForm" novalidate>
            <!-- Email -->
            <div class="form-group" ng-class="{'has-success':(registerForm.email.$valid && !registerForm.email.$pristine),'has-error':(!registerForm.email.$valid && !registerForm.email.$pristine) || (!registerForm.email.$valid && registerForm.$submitted) }">
                <label>Email:</label>
                <input class="form-control" type="text" name="email" placeholder="please enter email" ng-model="register.regData.email" ng-pattern="/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/"
                    ng-maxlength="25" ng-minlength="3" required>
                <p class="help-block" ng-show="(!registerForm.email.$pristine && registerForm.email.$error.required) || (registerForm.$submitted && registerForm.email.$error.required)">
                this field is required</p>
                <ul class="help-block" ng-show="(!registerForm.email.$pristine && registerForm.email.$error.pattern) || (!registerForm.email.$pristine && registerForm.email.$error.maxlength) || (!registerForm.email.$pristine && registerForm.email.$error.minlength)">
                    <li>must contain "@"</li>
                    <li>must not contain any special characters </li>
                    <li>must be at least 3 characters and no more 25 character</li>
                </ul>
            </div>

            <!-- Username -->
            <div class="form-group" ng-class="{'has-success':(registerForm.username.$valid && !registerForm.username.$pristine),'has-error':(!registerForm.username.$valid && !registerForm.username.$pristine) || (!registerForm.username.$valid && registerForm.$submitted) }">
                <label>Username:</label>
                <input class="form-control" type="text" name="username" placeholder="please enter username" ng-model="register.regData.username"
                    ng-pattern="/^[a-zA-Z0-9_.-]*$/" ng-maxlength="20" ng-minlength="3" required>
                <p class="help-block" ng-show="(!registerForm.username.$pristine && registerForm.username.$error.required) || (registerForm.$submitted && registerForm.username.$error.required)">
                this field is required</p>
                <ul class="help-block" ng-show="(!registerForm.username.$pristine && registerForm.username.$error.pattern) || (!registerForm.username.$pristine && registerForm.username.$error.maxlength) || (!registerForm.username.$pristine && registerForm.username.$error.minlength)">
                    <li>must be at least 3 characters but no more 20 character and no spaces</li>
                </ul>
            </div>
            <!-- Password -->
            <div class="form-group" ng-class="{'has-success':(registerForm.password.$valid && !registerForm.password.$pristine),'has-error':(!registerForm.password.$valid && !registerForm.password.$pristine) || (!registerForm.password.$valid && registerForm.$submitted) }">
                <label>Password:</label>
                <input class="form-control" type="password" name="password" placeholder="please enter password" ng-model="register.regData.password"
                    ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\w]).{8,35}$/" ng-maxlength="35" ng-minlength="8"
                    required>
                <p class="help-block" ng-show="(!registerForm.password.$pristine && registerForm.password.$error.required) || (registerForm.$submitted && registerForm.password.$error.required)">
                this field is required</p>
                <ul class="help-block">
                    <li ng-show="(!registerForm.password.$pristine && registerForm.password.$error.pattern)">must contain at least one lower case</li>
                    <li ng-show="(!registerForm.password.$pristine && registerForm.password.$error.pattern)">must contain at least one uppercase</li>
                    <li ng-show="(!registerForm.password.$pristine && registerForm.password.$error.pattern)">must contain at least one number</li>
                    <li ng-show="(!registerForm.password.$pristine && registerForm.password.$error.pattern)">must contain at least one special character</li>
                    <li ng-show="(!registerForm.password.$pristine && registerForm.password.$error.maxlength) || (!registerForm.password.$pristine && registerForm.password.$error.minlength) ">
                    must be at least 8 character but no more than 35</li>
                </ul>
            </div>
            <!-- confirm password  -->
            <div class="form-group" ng-class="{'has-success':(registerForm.confirmPassword.$valid && !registerForm.confirmPassword.$pristine && confrimPasswordVal == register.regData.password),'has-error':(!registerForm.confirmPassword.$valid && !registerForm.confirmPassword.$pristine) ||(confrimPasswordVal != register.regData.password) ||(!registerForm.confirmPassword.$valid && registerForm.$submitted) }">
                <label>confirm password:</label>
                <input class="form-control" type="password" name="confirmPassword" placeholder="please confirm password" ng-model="confrimPasswordVal"
                    required>
                <p class="help-block" ng-show="(!registerForm.confirmPassword.$pristine && registerForm.confirmPassword.$error.required) || (registerForm.$submitted && registerForm.confirmPassword.$error.required)">
                this field is required</p>
                <ul class="help-block">
                    <li ng-show="confrimPasswordVal != register.regData.password && confrimPasswordVal != ''">the confirmation password doesn't match</li>
                </ul>
            </div>
            <!-- Submit/Register Button -->
            <button class="btn register-btn" type="submit"> <!--  ng-disabled="!register.regData.email || !register.regData.username || !register.regData.password" -->
                Register</button>
            <p>already have an account ? <a href="/login"> login</a></p>
        </form>
    </div>
    <!-- Registration Form -->

    <br>

    <!-- Loading Icon -->
    <div class="row" ng-show="register.loading"> <!-- n-->
        <div class=" text-center  col-xs-4 col-xs-offset-4">
            <span class="fa fa-spinner spinner"></span>
            <p>Loading....</p>
        </div>
    </div>
    <!-- Loading Icon -->

    <br>

    <!-- Successful Registration Message -->
    <div class="row show-hide-message" ng-show="register.successMsg">
        <div class="col-xs-12">
            <div class="alert alert-success">{{ register.successMsg }}</div>
        </div>
    </div>
    <!-- Successful Registration Message -->

    <br>

    <!-- Failed Registration Message -->
    <div class="row show-hide-message" ng-show="register.errorMsg">
        <div class="col-xs-12">
            <div class="alert alert-danger">{{ register.errorMsg }}</div>
        </div>
    </div>
    <!-- Failed Registration Message -->
</div>


<!-- div style  -->
<div class="container in-register-page">
    <div class="under-post-line">
        <div class="styled-div"></div>
        <div class="square-div-small-left"></div>
        <div class="square-div"></div>
        <div class="square-div-small-right"></div>
    </div>
</div>